/* FONT
font-family: 'Sarabun', sans-serif;
font-family: 'Sarabun', sans-serif;
*/
html {
  scroll-behavior: smooth;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0;
}

// default font
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
a,
textarea,
button,
button:focus,
.form-control {
  /* font-family: Sarabun; */
  font-family: "Sarabun", sans-serif;
  font-display: swap;
  outline: none !important;
  color: #333;
}

a,
button {
  transition: all 0.5s;
}
a:hover {
  color: #393939;
  text-decoration: none !important;
}

p {
  line-height: 1.7em;
}

.pic-product {
  margin-left: 15px;
}

.font-bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
#navbar {
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}
#navbar.bg-oppa {
  background-color: rgba(255, 255, 255, 0);
}
#navbar h1 {
  display: none;
}
.disable-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.copyright small {
  display: block;
  line-height: 1.5em;
}

nav#navbar .btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
}
nav#navbar .btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
}

nav#navbar .btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5) !important;
}
.nav-item {
  /* border: 1px solid; */
  margin: 0.5em 1em;
  /* box-shadow: 0px 0px 4px #000000; */
}
.nav-item a {
  display: block;
  /* font-family: Sarabun; */
  border-radius: 0.3em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  background-color: #f1f3f5;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 0.35em;
}
.nav-item a:hover {
  color: #01aeef;
  text-decoration: none;
  cursor: pointer;
}

.header-methycobal {
  font-size: 36px;
  color: #2a9bd3;
  /* font-family: "Kanit"; */
  font-style: normal;
  font-weight: bold;
  background: #ffffff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
  padding: 0.4em 0.6em;
  line-height: 2.5;
}

.distributor-logo {
  display: block;
  /* width: 200px; */
  /* height: 150px; */
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.distributor-logo:hover {
  box-shadow: 0 0 0.8em 0.3em rgba(0, 0, 0, 0.15);
}

.gov-data {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.1em 0 0.2em;
  height: 30px;
  /* line-height: 30px; */
  background: #fff;
}
.gov-data small {
  display: inline-block;
  /* display: block; */
  padding: 0 !important;
  margin-right: 1em;
}
.gov-data::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  left: -60px;
  top: 0;
  background-image: linear-gradient(to right, transparent, #fff);
}

/* body intro */
.toggle-video {
  position: absolute;
  border: none;
  background: transparent;
  // background: transparent no-repeat center center / 100px;
  // background-image: url("/iconmascotclickvedio.png");
  // background-image: url("/iconmascotclickvedio.webp");
  width: 100px;
  height: 100px;
  bottom: 2em;
  right: 2em;
  overflow: hidden;
  // text-indent: -100vw;
  cursor: pointer;
  z-index: 1020;
}
.fullscreen-video {
  top: 0;
  left: 0;
  z-index: 1030;

  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.close-full-video {
  position: fixed;
  top: 1rem;
  right: 2rem;
  color: #fff;
  border: none;
  font-size: 2em;
  background-color: transparent;
  z-index: 1050;
}
.close-full-video.hide,
.fullscreen-video.hide {
  display: none;
}
.fullscreen-video .video-thumbnail {
  height: 100% !important;
}
#intro {
  .swiper-container .swiper-button-next {
    right: 2em;
    background-image: url("/right.png");
    background-image: url("/right.webp");
  }
  .swiper-container .swiper-button-prev {
    left: 2em;
    background-image: url("/left.png");
    background-image: url("/left.webp");
  }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    width: 53px;
    height: 92px;
    background-size: 53px 92px;
    margin-top: -45px;
  }
}
.vdo-wrapper {
  width: 100%;
  height: 100%;
}
.hilight-text {
  position: absolute;
  background: #ffffff;
  border: 10px solid #2a9bd3;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 0.5em 0.7em;
  z-index: 1000;
  /* font-family: Sarabun; */
  color: #393939;
  font-size: 1.6rem;
  font-weight: 500;
  left: 50%;
  bottom: 20vh;
  margin-left: -200px;
  width: 400px;
  z-index: 1030;
}

.box-intro {
  position: relative;
  overflow: hidden;
}
.slide-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.slide-video video {
  width: 100%;
}
.video-thumbnail {
  position: relative;
  z-index: 200;
}
.video-thumbnail.played {
  opacity: 0;
}
.goto-product {
  position: absolute;
  width: 110px;
  height: 111px;
  background: transparent;
  // background: transparent no-repeat center center;
  // background-image: url("/icondown.png");
  // background-image: url("/icondown.webp");
  z-index: 1001;
  bottom: 1em;
  left: 50%;
  margin-left: -55px;
  opacity: 0.6;
  transition: all 0.5s;
  overflow: hidden;
  // text-indent: -100vw;
}
.goto-product:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .swiper-container {
    width: 100vw;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    -webkit-justify-content: top;
    justify-content: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
  }

  .swiper-slide img {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

/* end */
.box-product,
.box-distribute,
footer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.body-address {
  margin: 0 auto !important;
  border-radius: 0.35em;
}

/* body product */
.box-product {
  padding-top: 3rem;
}
.box-product .pic-product {
  margin-right: 0;
}
.box-product .caption {
  font-size: 1em;
}
.box-product h3 {
  font-size: 1em;
}
.box-product p {
  font-size: 0.79em;
  text-align: justify;
}
.box-product .align-self-end {
  margin-bottom: 25.71px;
}
.detail-methycobal {
  margin-top: 28.13px;
}
.detail-methycobal p {
  margin-bottom: 1.5rem;
}
.box-product .icon {
  display: block;
  padding: 1.4rem;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.25rem 1.25rem 0 0;
}
.box-product .media-body {
  margin-right: -1.2em;
}
.icon-indication {
  background-image: url("/iconindication.png");
  background-image: url("/iconindication.webp");
  background-color: #ed1c24;
}
.icon-composition {
  background-image: url("/iconcomposition.png");
  background-image: url("/iconcomposition.webp");
  background-color: #2a9bd3;
}
.icon-dosage {
  background-image: url("/icondosage.png");
  background-image: url("/icondosage.webp");
  background-color: #ed1c24;
}
.icon-packing {
  background-image: url("/iconpacking.png");
  background-image: url("/iconpacking.webp");
  background-color: #ed1c24;
}
.icon-storage {
  background-image: url("/iconstorage.png");
  background-image: url("/iconstorage.webp");
  background-color: #2a9bd3;
}
.icon-expiration-date {
  background-image: url("/iconexpirationdate.png");
  background-image: url("/iconexpirationdate.webp");
  background-color: #ed1c24;
}
/* end */

/*Distribute*/
.header-design {
  margin-bottom: 59.61px;
  margin-top: 17px;
}
/*end*/

/* body contact*/
#name,
#email,
#phonenumber {
  text-align: left;
}
::placeholder {
  color: #9a9a9a !important;
  font-size: 1rem;
}
.box-contact {
  background: no-repeat center center / auto 100%;
  background-image: url("/bgcontact.png");
  background-image: url("/bgcontact.webp");
}
.body-address {
  background: rgba(0, 0, 0, 0.5);
}
.body-address h2 {
  color: #fff;
  margin-bottom: 1rem;
}
.body-address #btn-sendmail {
  background: #00aeef;
  color: #fff;
  font-family: Sarabun;
  padding: 0.4rem 2.2rem;
}
@media only screen and (min-width: 425px) {
  .body-address #btn-sendmail {
    background: #00aeef;
    color: #fff;
    font-family: Sarabun;
    padding: 0.4rem 2.2rem;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
/*end*/

/*footer*/
footer {
  margin-top: 10px;
}
footer h4 {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
footer p,
footer a {
  font-size: 0.9em;
}
footer a {
  color: #333;
}
footer a:hover {
  color: #737373;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
  color: #444;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  margin: 0;
  padding-left: 1em;
  line-height: 1.3em;
  position: relative;
}
footer li:before {
  content: "\25b6";
  position: absolute;
  font-size: 0.7em;
  left: 0;
  top: 0.1em;
}

.mascot {
  // background: transparent no-repeat center center;
  // background-image: url("/mascot.png");
  // background-image: url("/mascot.webp");
  width: 270px;
  height: 221px;
  position: absolute;
  bottom: 3em;
  left: 50%;
  margin-left: -135px;
}
.goto-top {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background: #50c1f9;
  color: #fff;
  z-index: 1020;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  overflow: hidden;
  opacity: 0.6;
  transition: all 0.4s;
}
.goto-top:hover {
  opacity: 1;
  color: #fff;
}
.goto-top.fade-out {
  opacity: 0;
}

.navbarbrand {
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.navbarbrand a,
.navbarbrand img {
  display: block;
  width: 100%;
  height: 100%;
}
.footer-box {
  margin-bottom: 2rem;
}
.modali-open {
  padding: 0 !important;
}
.modali-body {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#iconrxphamacy {
  flex: none;
  display: block;
  width: 100%;
  max-width: 100%;
}

#iconrxphamacy .distributor-logo {
  box-shadow: none;
  text-align: center;
}
#iconrxphamacy .distributor-logo img {
  width: 50%;
  height: auto;
}

@media (max-width: 575.98px) {
  .navbarbrand {
    transform: scale(0.7) translateX(-3.3em) translateY(-1.5em);
  }
  #nav-control {
    transform: scale(0.7) translateX(2.5em) translateY(-3em);
  }
  .mascot {
    bottom: 1em;
  }
  .box-product {
    padding-top: 3rem;
  }
  .box-product .media-body {
    margin-right: 0;
  }
  .body-address #btn-sendmail {
    width: 100%;
    margin-bottom: 1em;
  }
  .swiper-container .swiper-button-prev {
    transform: scale(0.5) translateX(-4em) translateY(-3em);
  }
  .swiper-container .swiper-button-next {
    transform: scale(0.5) translateX(4em) translateY(-3em);
  }
  .goto-product {
    transform: scale(0.3) translateY(10em);
  }
  .toggle-video {
    transform: scale(0.5) translateY(5.5em) translateX(6em);
  }
  .captcha {
    overflow: hidden;
  }
  .distributor-logo {
    width: 100%;
    height: 100%;
  }
  #contact.box-contact {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #contact .body-address {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .sm-fix-width {
    margin-right: -1em;
  }
  .box-product .pic-product {
    margin-left: 0;
  }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    margin-top: -30px;
  }
  .fullscreen-video {
    position: fixed;
  }
  .footer-box {
    margin-left: -1em;
    margin-right: -1.5em;
  }
  .hilight-text {
    border-width: 5px;
    font-size: 0.8rem;
    bottom: 3.5em;
    width: 160px;
    margin-left: -80px;
    text-align: center;
  }
  .body-address h2 {
    margin-left: -1em;
    margin-right: -1em;
    text-align: center;
  }
  .box-product h1 span {
    padding-left: 0;
    padding-right: 0;
  }
}

// defered bg
.defered-bg {
  background-image: none !important;
}
